@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400, 700);

/* Geral */
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 960px;
}

/* Cabeçalho */
.cabecalho-lista {
  display: flex;
  list-style: none;
  margin: 0;
}

.cabecalho-lista-item {
  margin: 0 25px;
}

.cabecalho-lista-item a,
.catalogo-menu-lista-item a {
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.cabecalho-lista-item a:hover {
  color: #e4bb23;
}

.cabecalho-logo {
  display: inline-block;
}

.cabecalho {
  background-attachment: fixed;
  background-image: url(../img/capa-madmax2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: 100%;
}

.cabecalho::after {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 212, 255, 0) 75%
  );
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.cabecalho-usuario {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cabecalho-usuario-foto {
  border-radius: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  height: 45px;
  margin-right: 15px;
  overflow: hidden;
  width: 45px;
}

.cabecalho-usuario-foto img {
  width: 100%;
}
.cabecalho-usuario-nome {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
}

.cabecalho-menu {
  z-index: 2;
  display: flex;
}

.cabecalho-menu .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cabecalho-conteudo {
  z-index: 2;
  display: flex;
  width: 100%;
}

.cabecalho-titulo {
  color: #fff;
  font-size: 6.5em;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0;
  text-transform: uppercase;
}

.cabecalho-genero {
  display: flex;
  margin: 15px 0 30px;
  font-size: 13px;
}

.cabecalho-genero-item {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.cabecalho-genero-item:hover {
  color: #e4bb23;
}

.cabecalho-botao {
  display: inline-block;
  padding: 15px 50px;
  color: #000;
  font-size: 1.5em;
  text-decoration: none;
  background-color: #e4bb23;
  border-radius: 40px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.cabecalho-informacao {
  padding: 20px 0;
  font-size: 1.4em;
  color: #fff;
}

.cabecalho-informacao p:last-child {
  color: #bc9a1d;
}

/* conteúdo principal */
.card-body .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.catalogo {
  background-color: #f2f2f2;
  width: 100%;
}

.catalago-menu {
  display: flex;
  list-style: none;
  margin: 0;
}

.catalogo-menu-lista {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0 20px;
  height: 66px;
}

.catalogo-menu-lista-item a:hover {
  box-shadow: inset 0 -1px 0 #e4bb23;
}

.catalogo-menu-lista-item {
  margin: 0 20px;
}

.catalogo-menu-lista-item a {
  color: #e4bb23;
  display: inline-block;
  padding: 25px 0;
}

.catalogo-filmes-lista {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}

.catalogo-filmes-lista-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  overflow: hidden;
  width: 24%;
}

.filme-poster {
  margin: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.filme-poster img {
  width: 100%;
}

.filme-poster-info {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.filme-poster-link {
  color: #fff;
  font-size: 5em;
  transition: all 0.2s ease-in-out;
}

.filme-poster-info h3 {
  color: #e4bb23;
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
}

.fa-play::before {
  content: "\f04b";
}

.filme-poster-link:hover {
  color: #e4bb23;
}

.filme-nota {
  margin: 0;
  align-items: center;
  display: flex;
  font-size: 2em;
  font-weight: bold;
  justify-content: space-between;
}

.filme-nota i {
  color: gray;
}

.filme-nota i:hover {
  color: #e74c3c;
}

.filme-sinopse {
  width: 100%;
  padding: 10px;
}

.filme-sinopse .catalogo-filmes-lista-item {
  width: 100%;
}

.filme-sinopse-titulo {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.sinopse-genero {
  margin: 10px 0;
  display: flex;
}

.sinopse-genero-item {
  font-size: 1.2em;
  color: #e4bb23;
  text-decoration: none;
}

figure {
  display: block;
}

.catalogo-filmes-lista-item:hover .filme-poster-info {
  opacity: 1;
  visibility: visible;
}

/* footer */
footer {
  display: block;
}

.rodape {
  background-color: #fff;
  color: #bababa;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.rodape .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rodape ul {
  padding: 0;
  list-style: none;
  display: flex;
}

.rodape ul li {
  margin: 0 20px;
}

/* ícones */
.twitter a:hover {
  color: #55acee;
}

.rodape ul li i {
  color: gray;
}
